# Git
.git*

# .DS_Store #
.DS_Store

# Utilities #
#############
yarn.lock

# Directories #
###############
test/
data/
examples/

# Node.js #
###########
.npmignore
/node_modules/

# Logs #
########
*.log

# Run #
########
run.js
