# Git
.git*
GoogleNews-vectors-negative300.bin
GoogleNews-vectors-negative300.bin.txt
file.txt
# .DS_Store #
.DS_Store

# Utilities #
#############
yarn.lock

# Directories #
###############
test/
data/
examples/

# Node.js #
###########
.npmignore
node_modules/
/node_modules/

# Logs #
########
*.log
reports/

# Run #
########
run.js

# Others #
Makefile
